header {
    background-color: rgb(11, 11, 145);
    color: white;
    height: fit-content;
    text-align: center;
    padding: 10px;
}
label {
    font-weight: 600;
}
aside {
    width: 25%;
    padding: 5px;
    float: left;
    background-color: lightgray;
    height: 100%;
    border-radius: 5px;
    margin-left: 20px;
}
.search-list {
    padding: 10px;
}
section {
    float: right;
    width: 65%;
    margin: 0px;
    padding: 0px;
}
.current-info {
    min-height: 300px;
    margin-right: 20px;
    padding: 20px 10px;
    border-radius: 5px;

}


.forecast-boxes{
    margin: 10px 10px;
}
.forecast-boxes > * {
    margin: 10px 10px;
    background-color: blue;
    color: cornsilk;
    padding: 10px;
    min-height: 150px;
    min-width: 180px;
    max-width: 300px;
    height: fit-content;
} 
.box {
    text-align: center;
    border-radius: 5px;
}